# Understanding Data Types and Variables in Python
Katlyn Goeujon-Mackness <br>
09/05/2025

## Introduction
Understanding variables and data types is an important first step into the world of coding with Python. Variables allow us to store and manipulate data, while data types define the kind of values we work with. 

Through these examples, this notebook demonstrates an understanding of variables and data types, providing a solid basis for more advanced Python topics.

### Contents
1. [Variables in Python](#variables-in-python)
2. [Data Types in Python](#data-types-in-python)
   - [Numeric Data Types](#numeric-data-types)
   - [String Data Type](#string-data-type)
   - [Boolean Data Type](#boolean-data-type)
   - [List, Tuple and Set](#list-tuple-and-set)
   - [Dynamic typing](#dynamic-typing)
   - [Type Conversion](#type-conversion)
3. [Examples](#examples)
   - [Creating and Using Variables with Different Data Types](#creating-and-using-variables-with-different-data-types)
   - [Boolean Logic with Type Conversions](#boolean-logic-with-type-conversions)
   - [Practical Example: E-Commerce Platform](#practical-example-e-commerce-platform)

## Variables in Python
### Assigning values to variables
Python allows assigning different types of values to variables without explicitly declaring their types.

In [1]:
# Variables are labels that you can assign to different kinds of values
name = "Katlyn"
age = 32
height = 1.62
is_student = True

In [2]:
# You can use variables in functions like print()
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is a student:", is_student)

Name: Katlyn
Age: 32
Height: 1.62
Is a student: True

## Data Types in Python
Here, we will briefly cover the following data types:
- Numeric
- String
- Boolean
- List, tuple and set
- Dictionary

### Numeric Data Types
Python supports **integers**, **floats** and **complex numbers**.

In [3]:
age = 32 # Integer
height = 1.62 # Floating point number (float)
complex_num = 2 + 3j # Complex number

# Checking data types
print(type(age))
print(type(height))
print(type(complex_num))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
# You can perform arithmetic operations on numeric data
sum_result = age + height
product_result = age * complex_num

print("Sum:", sum_result)
print("Product:", product_result)

Sum: 33.62
Product: (64+96j)

### String Data Type
A string represent textual data, denoted with quotation marks. (" ")

In [5]:
# Example of string data type
first_name = "Katlyn"
last_name = "Goeujon-Mackness"
message = "I love Python!"

print(first_name, last_name, "says:", message)

Katlyn Goeujon-Mackness says: I love Python!

In [6]:
# You can manipulate strings with functions
print(message.upper()) # Converts message to uppercase
print(last_name.lower()) # Converts name to lowercase
print(message[0:6], first_name, last_name) # Takes a slice of message (Output: "I love")
print(message.replace("Python", "cheesecake")) # Replaces part of message

I LOVE PYTHON!
goeujon-mackness
I love Katlyn Goeujon-Mackness
I love cheesecake!

### Boolean Data Type
Booleans represent True or False values, and are often used with logic operations.

In [7]:
# Boolean values
is_python_fun = True
is_java_fun = False

# Boolean operations
print(is_python_fun and is_java_fun) 
print(is_python_fun or is_java_fun)  
print(not is_python_fun)

False
True
False

In [8]:
# Boolean evaluation
print(10 > 5)
print(3 == 7)

True
False

### List, Tuple and Set
Lists, tuples, and sets store collections of values, but each has different properties.

In [9]:
# List - ordered, mutable
fruits = ["Apple", "Banana", "Cherry"]
fruits.append("Mango") # Add a new element to the list
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango']

In [10]:
# Tuple - ordered, immutable
coordinates = (4, 5)
print(coordinates[0])

4

In [11]:
# Set - unordered, unique elements
unique_numbers = {1, 2, 3, 2, 1} # Create a set with duplicate elements
print(unique_numbers)

unique_numbers.add(4) # Add a number to the set
print(unique_numbers)

{1, 2, 3}
{1, 2, 3, 4}

In [14]:
# Dictionary - key-value pairs
student = {
    "first_name": "Katlyn",
    "last_name": "Goeujon-Mackness",
    "major": "Data Science",
    "grade": "A+"
}

# Access a value by its key
print(student["first_name"], student["last_name"])

Katlyn Goeujon-Mackness

In [15]:
# Dictionaries and their key-value pairs are mutable
student["grade"] = "A++"    # Update value for "grade"
student["age"] = 32         # Add a new key and value

print(student)

{'first_name': 'Katlyn', 'last_name': 'Goeujon-Mackness', 'major': 'Data Science', 'grade': 'A++', 'age': 32}

### Dynamic typing
In Python, a variable can be reassigned to a different data type during execution. This is known as dynamic typing.

In [16]:
x = 10          # x is an integer
print(type(x))

x = "Hello"     # x is now a string
print(type(x))

x = [1, 2, 3]   # x is now a list
print(type(x))

# Function demonstrating dynamic typing
def add(a, b):
    return a + b  # Works with numbers, strings, lists

print(add(5, 3))                # Integer addition
print(add("Hello, ", "World!")) # String concatenation
print(add([1, 2], [3, 4]))      # List concatenation

<class 'int'>
<class 'str'>
<class 'list'>
8
Hello, World!
[1, 2, 3, 4]

## Type Conversion
Given the dynamic nature of Python variables, there are many ways to convert from one type to another. In some cases, Python does this automatically when needed (known as **implicit conversion**), but when types aren't compatible, **explicit conversion** is necessary. Proper type conversion is key to avoid unexpected errors.

In [17]:
# Implicit conversion (automatically done by Python)
num_int = 5
num_float = 2.5
result = num_int + num_float  # Integer + Float results in Float
print(result)  # Output: 7.5
print(type(result))  # Float

7.5
<class 'float'>

In [19]:
# Explicit conversion (manual casting)
num_str = "10"

# Convert string to integer
num_int = int(num_str)          
print(num_int, type(num_int))

# Convert integer to float
num_float = float(num_int)      
print(num_float, type(num_float))

# Convert empty string to Boolean
bool_value = bool("")          
print(bool_value) 

# Use str() to convert numbers to strings
age = 32
message = "I am " + str(age) + " years old."
print(message)

10 <class 'int'>
10.0 <class 'float'>
False
I am 32 years old.

## Examples
These example demonstrates the application of variables and data types in Python.

### Creating and Using Variables with Different Data Types

In [20]:
# Creating variables of any type in Python
name = "Katlyn"
age = 32
height = 1.62
is_student = True
interests = ["running", "knitting", "coding"]

# Store them in a dictionary
person_info = {
    "name": name,
    "age": age,
    "height": height,
    "is_student": is_student,
    "interests": interests
}

# Print the values and types
for key, value in person_info.items():
    print(f"{key}: {value} (Type: {type(value)})")

name: Katlyn (Type: <class 'str'>)
age: 32 (Type: <class 'int'>)
height: 1.62 (Type: <class 'float'>)
is_student: True (Type: <class 'bool'>)
interests: ['running', 'knitting', 'coding'] (Type: <class 'list'>)

### Boolean Logic with Type Conversions

In [21]:
# Boolean values in logic-based operations
x = 10
y = 20

# Comparison operators return Boolean values
print(x > y)  # False
print(x < y)  # True
print(x == 10)  # True

# Boolean logic in control statements
if x < y:
    print("x is less than y")
else:
    print("x is greater than or equal to y")

# Type conversion examples
num_str = "15"
num_int = int(num_str)  # Convert string to integer
print(num_int, type(num_int))

num_float = float(num_int)  # Convert integer to float
print(num_float, type(num_float))

bool_value = bool("")  # Convert empty string to boolean (False)
print(bool_value)

age = 30
message = "I am " + str(age) + " years old."  # Convert integer to string
print(message)

False
True
True
x is less than y
15 <class 'int'>
15.0 <class 'float'>
False
I am 30 years old.

### Practical Example: E-Commerce Platform
In an e-commerce platform, sellers can input their product prices as strings, but the system needs them to be floats in order to correctly perform calculations and optimize memory usage. This example take the prices input by the seller, adds them, and outputs the total amount.

In [1]:
# Seller enters product prices as strings
product_prices = ["19.99", "5.49", "12.30"]

# Convert string prices to float for calculations
converted_prices = [float(price) for price in product_prices]

# Calculate total cost of items in cart
total_cost = sum(converted_prices)

# Format the output neatly
print(f"Total price of items: ${total_cost:.2f}")

Total price of items: $37.78

## References
This notebook was created using concepts and examples inspired by *Python Crash Course* by Eric Matthes. 

For more information, you can find *Python Crash Course* here: [https://nostarch.com/pythoncrashcourse](https://nostarch.com/pythoncrashcourse).